* {
        margin: 0%;
        padding: 0%;

}


.navbar{ background-color: rgba(132, 99, 15, 0.927);



}

.nav-item:hover{ text-decoration: underline;
                border-bottom:  rgb(14, 11, 60);
                


}


.tst {
        width: 100%;
        height: 200px;
        background-color: rgb(14, 11, 60);
        color: rgba(132, 99, 15, 0.927);
        text-align: center;
        padding-top: 45px;
}

.tst h1 {
        font-size: 70px;



}

.tst p {
        width: 550px;
        height: 45px;
        background-color: rgba(132, 99, 15, 0.927);
        color: rgb(14, 11, 60);
        text-align: center;
        margin-left: 490px;


}

.tst p:hover {
        text-decoration: underline;


}

h3 {
        padding-top: 80px;
        padding-left: 100px;
        color: rgba(132, 99, 15, 0.927);

}

.sec {
        background-color: rgb(14, 11, 60);
        padding-top: 80px;
        color: rgb(172, 193, 236);
        margin-top: 20px;


}

.sec h6 {
        padding-bottom: 20px;


}

.sec p {
        padding-top: 15px;
        padding-bottom: 20px;


}

.sec:hover {
        text-decoration: underline;


}

.sec button {
        height: 50px;
        width: 300px;
        background-color: rgb(172, 193, 236);
        color: rgb(14, 11, 60);


}

.sec button:hover {
        text-decoration: underline;


}

.sec img {
        width: 100%;
        height: 100%;
        margin-top: -35px;


}

.yxz {
        background-color: rgb(246, 227, 246);


}

.xyz1 {
        height: 300px;
        width: 800px;
        background-color: rgb(246, 227, 246);
        color: rgba(132, 99, 15, 0.927);


}

.para {
        color: gray;
        padding-top: 20px;
        margin-bottom: 30px;


}


.xyz1 input {
        width: 600px;
        height: 51px;
        float: left;
        padding-left: 20px;
        background-color: white;
        border: none;
        border-color: rgb(45, 101, 241);

}

.xyz button {
        width: 80px;
        height: 50px;
        margin-left: 10px;
        background-color: rgb(45, 101, 241);
        color: white;
        border: none;
        border-radius: 2px;

}

.quantum {
        background-color: rgb(246, 227, 246);
        padding-top: 60px;



}

.quantum img {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
        margin-left: 12px;


}

.quantum p {
        font-size: 20px;
        color: black;



}

.quantum h6 {
        color: rgba(132, 99, 15, 0.927);
        font-size: 17px;

}

.quantum h1 {
        color: rgb(14, 11, 60);
        padding-top: 17px;
        padding-bottom: 20px;

}

.quantum button {
        width: 120px;
        height: 40px;
        margin-top: 20px;
        border: none;
        background-color: rgb(45, 101, 241);
        border-radius: 2px;
        color: white;


}

.etc h4 {
        color: black;
        font-size: 25px;


}

.etc h4:hover {
        text-decoration: underline;
        color: rgba(132, 99, 15, 0.927);



}

.etc p {
        font-size: 18px;


}

footer {
        background-color: rgb(246, 227, 246);



}

footer h4:hover {
        text-decoration: underline;
        color: rgba(132, 99, 15, 0.927);


}

.dvd h4:hover {
        text-decoration: underline;
        color: rgba(132, 99, 15, 0.927);


}

.fortune {
        padding-top: 15px;



}

.dvd {
        margin-top: 30px;


}

.cd {
        padding-top: 50px;
        padding-bottom: 25px;



}

.gsp {
        padding-top: 15px;


}

.tsp {
        padding-top: 15px;


}

.dev {
        display: flex;



}

.dev p {
        padding-left: 900px;
        padding-top: 85px;


}

.dev h3 {
        padding-bottom: 10px;


}